.item {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #eee;
  border: 1px solid #dedede;
  transition: .15s ease-out;
  transition-property: visibility, oapcity, border, background;
}

/* Closed state */
.item--closed {
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  border-right: 2px solid #dedede;
  border-bottom: 2px solid #dedede;
}

.item--closed:hover {
  background-color: #dfdfdf;
}

.item--closed .item__content {
  visibility: hidden;
  opacity: 1;
}
